@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  padding: 0;
  border: 0;
  margin: 0;
  background: rgb(4, 0, 27);
}
.topThumbnail {
  position: relative;
  width: 100%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
}
.divider {
  position: relative;
  height: 10pc;
  width: 100%;
  margin: auto;
  top: -150px;
  right: 0;
  left: 0;
  z-index: 6;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(transparent, rgb(7, 0, 48), rgb(4, 0, 27));
}
.divider h1 {
  position: relative;
  color: white;
  margin: 0;
  margin-left: 30px;
  font-size: 50px;
  height: fit-content;
  width: fit-content;
}
.divider h4 {
  position: relative;
  color: white;
  margin: 0;
  margin-left: 35px;
  font-size: 30px;
  height: fit-content;
  width: fit-content;
}
.homeContent {
  position: relative;
  height: 50pc;
  width: 100%;
  margin: auto;
  top: -152px;
  right: 0;
  left: 0;
  background: rgb(4, 0, 27);
}
.topPlay {
  position: relative;
  margin: auto;
  right: 0;
  top: 0;
  filter: invert(1);
  bottom: 25px;
  margin-left: 25px;
  height: 50px;
  z-index: 5;
}
.miniPlayer {
  position: fixed;
  height: 5pc;
  width: 100%;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  font-family: "Bebas Neue", cursive;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 50px black;
}

.miniPlayer .thumbnailMiniPlayer {
  position: absolute;
  height: 80%;
  margin: auto;
  top: 0;
  bottom: 0;
  margin-left: 8px;
  border-radius: 10px;
}
.miniPlayer h3 {
  color: white;
  position: relative;
  left: 90px;
  font-size: 25px;
  margin: 0;
  margin-top: 17px;
  max-width: 80%;
  height: fit-content;
  width: fit-content;
}

.miniPlayer h6 {
  color: white;
  position: relative;
  left: 90px;
  font-size: 20px;
  margin: 0;
  height: fit-content;
  width: fit-content;
  max-width: 40%;
  word-wrap: none;
  overflow: hidden;
}
.miniPlayer .playPauseMiniPlayer {
  position: absolute;
  margin: auto;
  height: 50px;
  top: 0;
  bottom: 0;
  right: 20px;
  filter: invert(1);
}
body {
  background: #000;
}
.bg {
  position: absolute;
  height: 100%;
}
.imgCent {
  position: absolute;
  filter: blur(35px);
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.thumbnail {
  position: absolute;
  height: 85%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}
.thumbnailBg {
  position: absolute;
  height: 17pc;
  width: 17pc;
  z-index: 4;
  margin: auto;
  bottom: 55vh;
  right: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(36, 23, 82);
}
.musicAndAuthorName {
  position: absolute;
  height: fit-content;
  width: fit-content;
  max-width: 18pc;
  max-height: 200px;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 6px;
  margin: auto;
  bottom: 34%;
  right: 0;
  left: 0;
  z-index: 4;
}
.musicAndAuthorName h2 {
  line-height: 35px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
.musicAndAuthorName h4 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.controls {
  position: absolute;
  height: 55%;
  width: 100%;
  background: linear-gradient(
    transparent,
    rgba(43, 0, 92, 0.856),
    rgb(13, 0, 31)
  );
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
}
.panel {
  position: absolute;
  height: 5pc;
  width: 20pc;
  margin: auto;
  top: 65%;
  bottom: 0;
  left: 0;
  right: 0;
}
.panel .playPause {
  position: absolute;
  height: 65px;
  filter: invert(1);
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.prevMusic {
  position: absolute;
  height: 40px;
  filter: invert(1);
  margin: auto;
  top: 0;
  left: 55px;
  bottom: 0;
  transform: rotate(180deg);
}
.nextMusic {
  position: absolute;
  height: 40px;
  filter: invert(1);
  margin: auto;
  top: 0;
  right: 55px;
  bottom: 0;
}
.addBtn {
  position: absolute;
  height: 50px;
  filter: invert(1);
  z-index: 14;
  margin: 0;
  transform: rotate(180deg);
}
.musicProgress {
  position: absolute;
  height: 20pc;
  margin: auto;
  right: 0;
  left: 0;
  top: 20%;
  bottom: 20%;
}
.musicProgressInteractive {
  -webkit-appearance: none;
  position: absolute;
  height: 120px;
  width: 296px;
  margin: auto;
  right: 0;
  left: 0;
  top: 8%;
  bottom: 0;
  z-index: 7;
  background: transparent;
}
.musicProgressInteractive::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 120px;
  width: 9px;
  background: linear-gradient(rgb(231, 1, 97), rgb(78, 0, 180));
  border-radius: 20px;
}
.musicProgress {
  position: absolute;
  height: 120px;
  width: 296px;
  margin: auto;
  top: 8%;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#soundStick1 {
  animation-delay: 0.3s;
  height: 50px;
}
#soundStick2 {
  animation-delay: 0.1s;
  height: 98px;
}
#soundStick3 {
  animation-delay: 1.3s;
  height: 50px;
}
#soundStick4 {
  animation-delay: 1.1s;
  height: 30px;
}
#soundStick5 {
  animation-delay: 0.5s;
  height: 100px;
}
#soundStick6 {
  animation-delay: 0.9s;
  height: 90px;
}
#soundStick7 {
  animation-delay: 0.32s;
  height: 120px;
}
#soundStick8 {
  animation-delay: 0.76s;
  height: 75px;
}
#soundStick9 {
  animation-delay: 0.97s;
  height: 55px;
}
#soundStick10 {
  animation-delay: 0.12s;
  height: 64px;
}
#soundStick11 {
  animation-delay: 0.43s;
  height: 39px;
}
#soundStick12 {
  animation-delay: 0.98s;
  height: 89px;
}
#soundStick13 {
  animation-delay: 1.2s;
  height: 63px;
}
#soundStick14 {
  animation-delay: 1.4s;
  height: 67px;
}
#soundStick15 {
  animation-delay: 0.3s;
  height: 97px;
}
#soundStick16 {
  animation-delay: 0.1s;
  height: 43px;
}
#soundStick17 {
  animation-delay: 0.65s;
  height: 120px;
}
#soundStick18 {
  animation-delay: 0.9s;
  height: 103px;
}
#soundStick19 {
  animation-delay: 0.76s;
  height: 89px;
}
#soundStick20 {
  animation-delay: 0.43s;
  height: 59px;
}
#soundStick21 {
  animation-delay: 0.19s;
  height: 113px;
}
#soundStick22 {
  animation-delay: 0.28s;
  height: 53px;
}
#soundStick23 {
  animation-delay: 0.37s;
  height: 32px;
}
#soundStick24 {
  animation-delay: 0.46s;
  height: 45px;
}
#soundStick25 {
  animation-delay: 0.55s;
  height: 113px;
}
#soundStick26 {
  animation-delay: 1.34s;
  height: 55px;
}
.soundSticks {
  position: relative;
  background: rgb(204, 204, 204);
  height: 120px;
  width: 9px;
  border-radius: 50px;
  float: left;
  margin-right: 2px;
  animation: hertz 1.8s infinite ease-in-out;
  animation-play-state: paused;
  transform-origin: center;
}
@keyframes hertz {
  50% {
    height: 10px;
  }
}
.player {
  position: fixed;
  z-index: +13;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  transition: 1s;
  transform: translateY(-100%);
  overflow: hidden;
}
